@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: 'Verdana', sans-serif;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(12, 7, 38);
}

body {
  overflow-x: hidden;
}
