@import '../../breakpoints.scss';

.container {
  position: absolute;
  width: 100%;
  background-color: transparent;
  top: 0;
  z-index: 200;

  .wrapper {
    color: white;
    width: 70%;
    margin: auto;
    display: flex;

    img {
      width: 150px;
    }

    .flex-end {
      display: flex;

      justify-content: flex-end;
      flex-grow: 1;
      align-items: center;

      .button {
        display: flex;

        * {
          margin: 1rem;
        }
      }

      .menu {
        display: flex;
        align-items: center;
        list-style-type: none;
        li {
          margin: 0.5rem 1rem;
          transition: 0.5s;
        }
      }

      .menu-icon {
        position: fixed;
        display: block;
        background: none;
        border: none;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 1.8rem;
        cursor: pointer;
        z-index: 300;
        color: white;
      }
    }
  }

  @include media('<=tablet') {
    img {
      position: fixed;
      left: 2.5rem;
      top: 0;
    }

    .flex-end {
      position: fixed;
      left: 0;
      .menu {
        position: fixed;
        background-color: rgba(12, 7, 38, 0.8);
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 200;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        top: 0;
        left: -100vw;
        margin: 0;
        padding: 7rem 0 0 0;
        opacity: 1;
        transition: all 0.5s ease;
      }

      .button {
        display: flex;
        z-index: 300;
        flex-direction: column;
        position: absolute;
        top: 30rem;
        left: -100vw;
        transform: translate(-50%, -50%);
        padding: 0;
        opacity: 1;
        transition: all 0.5s ease;

        * {
          transition-duration: 0.5s;
          margin: 0.5rem 0;
          width: 10rem;
          background: none;
          border: none;
          color: white;
          font-size: 1.5rem;
          margin: 1rem 0;
        }

        .connect {
          text-decoration: 'none';
          height: 2.5rem;
          color: white;
          background-color: rgba(255, 255, 255, 0.24);
          border: 2px solid white;
          border-radius: 0.5rem;
          padding: 0 2rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition-duration: 0.5s;
        }

        .subscribe {
          text-decoration: none;
          height: 2.5rem;
          background-color: white;
          color: #132b50;
          border-radius: 0.5rem;
          padding: 0 2rem;
          display: flex;
          align-items: center;
          border: none;
          cursor: pointer;
          margin-left: 1rem;
          transition-duration: 0.5s;
        }
      }

      .active-menu {
        position: fixed;
        background-color: rgba(12, 7, 38, 0.8);
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 200;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 7rem 0 0 0;
        opacity: 1;
        transition: all 0.5s ease;

        li {
          margin: 1rem 0rem;
          font-size: 1.5rem;
        }
      }

      .active-button {
        display: flex;
        z-index: 300;
        flex-direction: column;
        position: absolute;
        top: 30rem;
        left: 50vw;
        transform: translate(-50%, -50%);
        padding: 0;
        opacity: 1;
        transition: all 0.5s ease;

        * {
          transition-duration: 0.5s;
          margin: 0.5rem 0;
          width: 10rem;
          background: none;
          border: none;
          color: white;
          font-size: 1rem;
          margin: 1rem 0;
        }

        .connect {
          text-decoration: 'none';
          height: 2.5rem;
          color: white;
          background-color: rgba(255, 255, 255, 0.24);
          border: 2px solid white;
          border-radius: 0.5rem;
          padding: 0 3rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition-duration: 0.5s;
        }

        .subscribe {
          text-decoration: none;
          height: 2.5rem;
          background-color: white;
          color: #132b50;
          border-radius: 0.5rem;
          padding: 0 2.7rem;
          display: flex;
          align-items: center;
          border: none;
          cursor: pointer;
          transition-duration: 0.5s;
        }
      }
    }
  }

  @include media('>tablet') {
    .wrapper {
      .flex-end {
        .menu-icon {
          display: none;
        }

        .active-menu {
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style-type: none;

          li {
            margin: 0.5rem 1rem;
          }
        }

        .active-button {
          display: flex;
        }

        .connect {
          text-decoration: 'none';
          height: 2.5rem;
          color: white;
          background-color: rgba(255, 255, 255, 0.24);
          border: 2px solid white;
          border-radius: 0.5rem;
          padding: 0 2rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition-duration: 0.5s;
        }

        .subscribe {
          text-decoration: none;
          height: 2.5rem;
          background-color: white;
          color: #132b50;
          border-radius: 0.5rem;
          padding: 0 2rem;
          display: flex;
          align-items: center;
          border: none;
          cursor: pointer;
          margin-left: 1rem;
          transition-duration: 0.5s;
        }
      }
    }
  }
}
