.container {
  width: 100%;
  height: 50px;
  background-color: rgb(12, 7, 38);

  .wrapper {
    width: 70%;
    margin: auto;
    padding-top: 15px;

    color: white;
    text-align: center;
    border-top: 2px solid rgb(48, 47, 45);
  }
}
